body {
    background-color: #eee;
    padding: 0em 0em 0em 0.5em;
}

#content {
    width: 760px;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1.5em;
    color: #000;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    color: #000;
}

textarea {
    font-family: Monaco, monospace;
    width: 100%;
    font-size: 12px;
}

#launchbox {
    margin: 0.5em;
    padding: 1em;
    border: 1px solid #bbb;
    background-color: #ccc;
    text-align: center;
    line-height: 100%;
    font-size: 2em;
    font-family: Georgia, serif;
}

#launchbox .note {
    font-size: 0.4em;
    font-family: Helvetica, "Bitstream Vera Sans", Arial, sans-serif;
}

p {
    font-size: 0.9em;
    font-family: Helvetica, "Bitstream Vera Sans", Arial, sans-serif;
    color: #222;
    line-height: 150%;
    /*margin-left: 0.5em;*/
}

#footer {
    text-align: center;
    font-size: 0.8em;

}

#footer img {
    border: 1px solid #bbb;
}

